/* RESET */
/* -- reset -- */
* {
	box-sizing: border-box;
	} 

body, h1,h2,p,ul,li,a {
	margin: 0px;
	padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}


/* MENU LATERAL */

.portifolio-sidebar{
    height:100%;
    width:100px;
    background-color:rgb(201, 30, 30);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.portifolio-sidebar a{
    writing-mode: vertical-rl;
    text-orientation: upright;
}